# **NOTE:** Use File > Save a copy in Drive to make a copy before doing anything else

# Project 8: Student Habits vs Academic Performance Analysis

#### Overview

This project analyzes the relationship between student lifestyle habits and academic performance using a comprehensive dataset from Kaggle. The dataset contains information about 1,000 students and includes 16 variables covering various aspects of student life, including study habits, social media usage, sleep patterns, diet quality, exercise frequency, and academic outcomes.

The analysis focuses on understanding how different study patterns correlate with exam performance.The project demonstrates fundamental data analysis skills including data cleaning, statistical calculations, and comparative analysis using Python and pandas.

In [1]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
# Update file_path to point to the specific file within the dataset
file_path = "student_habits_performance.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "jayaantanaath/student-habits-vs-academic-performance",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

<ipython-input-1-9526af902db9>:11: DeprecationWarning: load_dataset is deprecated and will be removed in a future version.
  df = kagglehub.load_dataset(

First 5 records:   student_id  age  gender  study_hours_per_day  social_media_hours  \
0      S1000   23  Female                  0.0                 1.2
1      S1001   20  Female                  6.9                 2.8
2      S1002   21    Male                  1.4                 3.1
3      S1003   23  Female                  1.0                 3.9
4      S1004   19  Female                  5.0                 4.4

   netflix_hours part_time_job  attendance_percentage  sleep_hours  \
0            1.1            No                   85.0          8.0
1            2.3            No                   97.3          4.6
2            1.3            No                   94.8          8.0
3            1.0            No                   71.0          9.2
4            0.5            No                   90.9          4.9

  diet_quality  exercise_frequency parental_education_level internet_quality  \
0         Fair                   6                   Master          Average
1         Good                   6              High School          Average
2         Poor                   1              High School             Poor
3         Poor                   4                   Master             Good
4         Fair                   3                   Master             Good

   mental_health_rating extracurricular_participation  exam_score
0                     8                           Yes        56.2
1                     8                            No       100.0
2                     1                            No        34.3
3                     1                           Yes        26.8
4                     1                            No        66.4

In [2]:
one_col = df['age']

In [3]:
type(one_col)

pandas.core.series.Series

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       909 non-null    object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB

In [5]:
df.shape

(1000, 16)

In [6]:
df.columns

Index(['student_id', 'age', 'gender', 'study_hours_per_day',
       'social_media_hours', 'netflix_hours', 'part_time_job',
       'attendance_percentage', 'sleep_hours', 'diet_quality',
       'exercise_frequency', 'parental_education_level', 'internet_quality',
       'mental_health_rating', 'extracurricular_participation', 'exam_score'],
      dtype='object')

### clean the data

In [7]:
df.isnull().sum()

student_id                        0
age                               0
gender                            0
study_hours_per_day               0
social_media_hours                0
netflix_hours                     0
part_time_job                     0
attendance_percentage             0
sleep_hours                       0
diet_quality                      0
exercise_frequency                0
parental_education_level         91
internet_quality                  0
mental_health_rating              0
extracurricular_participation     0
exam_score                        0
dtype: int64

This checks how many missing (NaN) values are in each column of the DataFrame. Based on the output:

All columns have 0 missing values except for parental_education_level, which has 91 missing values.

The dataset is mostly clean, but you do need to clean or handle the missing data in the parental_education_level column.

#### Fill with a default or common value

#### drop rows with missing values

In [8]:
df.dropna(subset=['parental_education_level'], inplace=True)

In [9]:
# checking the data again
df.isnull().sum()

student_id                       0
age                              0
gender                           0
study_hours_per_day              0
social_media_hours               0
netflix_hours                    0
part_time_job                    0
attendance_percentage            0
sleep_hours                      0
diet_quality                     0
exercise_frequency               0
parental_education_level         0
internet_quality                 0
mental_health_rating             0
extracurricular_participation    0
exam_score                       0
dtype: int64

### Questions to Answer

Please find the answer for the following questoins.

1. Find the average study hours per day for all students. Please create a code cell below this to answer the question.(0.5 point)

In [12]:
import numpy as np
print(np.average(df['study_hours_per_day']))

3.5387238723872385

2. Identify the student who studies MOST hours per day. Please create a code cell below to answer the question.(0.5 point)

In [23]:
print("Most Hours Studied : ", str(max(df['study_hours_per_day'])))
df[df['study_hours_per_day'] == max(df['study_hours_per_day'])]

Most Hours Studied :  8.3

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
455,S1455,19,Male,8.3,3.3,2.6,Yes,86.6,6.5,Fair,5,High School,Average,9,No,100.0

3. Count how many students study more than 6 hours per day. Please create a code cell below this to answer the question.(0.5 point)

In [17]:
number_of_students_studying_more_than_6_hours_per_day = (df['study_hours_per_day'] > 6).sum()
print(number_of_students_studying_more_than_6_hours_per_day)

40

4. What is the percentage of students who study more than 6 hours per day. Please create a code cell below this to answer the question.(0.5 point)

In [20]:
total_students = len(df)

percentage_more_than_6_hours = (number_of_students_studying_more_than_6_hours_per_day / total_students) * 100

print(f"Percentage of students who study more than 6 hours per day: {percentage_more_than_6_hours:.2f}%")

Percentage of students who study more than 6 hours per day: 4.40%

5. Calculate what percentage of students study less than 2 hours per day. Please create a code cell below this to answer the question.(0.5 point)

In [24]:
number_of_students_studying_less_than_2_hours_per_day = (df['study_hours_per_day'] > 2).sum()

print(number_of_students_studying_less_than_2_hours_per_day)

percentage_less_than_2_hours = (number_of_students_studying_less_than_2_hours_per_day / total_students) * 100

print(f"Percentage of students who study less than 2 hours per day: {percentage_less_than_2_hours:.2f}%")

765
Percentage of students who study less than 2 hours per day: 84.16%

6. Do students who study more than 5 hours per day have higher exam scores on average? Please create a code cell below to answer this question. (0.5 point)

In [27]:
# prompt: Do students who study more than 5 hours per day have higher exam scores on average?

# Separate students into two groups: those who study more than 5 hours and those who don't
students_more_than_5_hours = df[df['study_hours_per_day'] > 5]
students_5_hours_or_less = df[df['study_hours_per_day'] <= 5]

# Calculate the average exam score for each group
average_score_more_than_5_hours = students_more_than_5_hours['exam_score'].mean()
average_score_5_hours_or_less = students_5_hours_or_less['exam_score'].mean()

print(f"Average exam score for students studying more than 5 hours per day: {average_score_more_than_5_hours:.2f}")
print(f"Average exam score for students studying 5 hours or less per day: {average_score_5_hours_or_less:.2f}")

# Compare the averages and print the conclusion
if average_score_more_than_5_hours > average_score_5_hours_or_less:
    print("Students who study more than 5 hours per day have higher exam scores on average.")
else:
    print("Students who study more than 5 hours per day do not have higher exam scores on average.")

Average exam score for students studying more than 5 hours per day: 91.12
Average exam score for students studying 5 hours or less per day: 65.67
Students who study more than 5 hours per day have higher exam scores on average.

7. Use "Explain code" for the code you produced for Question 6 and summarize in your own words to show that you understood the code Gemini produced. Please create a text cell below to answer this question. (0.5 point)

By creating a list of the number of students who studied more than five hours with a new function, we can then create a follow up function to calculate the average score of the students that fall within the greater than list. This data can be contrasted with complementary functions that calculate the number of students who studied less and their average score to determine if there's a significant differerance between the averages. In this case, there was, with those studying over 5 hours having a 33.45 higher average than those who didn't.

8. The codes produced to answer the questions use "vectorization"? Please justify your answer with an example. Please create a text cell below to answer this question. (0.5 point)

Indeed, the code does use vectorization, calling upon shorthands like print(np.average(df['study_hours_per_day'])) to calculate the average of hours used to study, rather than more explicit, long winded code.

Count how many students study more than 6 hours per day. Please create a code cell below this to answer the question.(0.5 point)

In [ ]:
df['study_hours_per_day']

0      0.0
1      6.9
2      1.4
3      1.0
4      5.0
      ...
995    2.6
996    2.9
997    3.0
998    5.4
999    4.3
Name: study_hours_per_day, Length: 909, dtype: float64

In [ ]:
df['study_hours_per_day'] > 6

0      False
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: study_hours_per_day, Length: 909, dtype: bool

In [ ]:
# prompt: Count how many students study more than 6 hours per day.

(df['study_hours_per_day'] > 6).sum()

np.int64(40)

In [ ]:
# prompt: Calculate what percentage of students study less than 2 hours per day.

# Filter students who study less than 2 hours per day
students_less_than_2_hours = df[df['study_hours_per_day'] < 2]

# Count the number of students who study less than 2 hours per day
num_students_less_than_2_hours = len(students_less_than_2_hours)

# Get the total number of students
total_students = len(df)

# Calculate the percentage
percentage_less_than_2_hours = (num_students_less_than_2_hours / total_students) * 100

print(f"Percentage of students who study less than 2 hours per day: {percentage_less_than_2_hours:.2f}%")

Percentage of students who study less than 2 hours per day: 13.53%

In [ ]:
df['study_hours_per_day'] < 2

0       True
1      False
2       True
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: study_hours_per_day, Length: 909, dtype: bool

In [ ]:
(df['study_hours_per_day'] < 2).sum()

np.int64(123)

In [ ]:
# prompt: Do students who study more than 5 hours per day have higher exam scores on average?

# Separate students into two groups: those who study more than 5 hours and those who don't
students_more_than_5_hours = df[df['study_hours_per_day'] > 5]
students_5_hours_or_less = df[df['study_hours_per_day'] <= 5]

# Calculate the average exam score for each group
average_score_more_than_5_hours = students_more_than_5_hours['exam_score'].mean()
average_score_5_hours_or_less = students_5_hours_or_less['exam_score'].mean()

print(f"Average exam score for students studying more than 5 hours per day: {average_score_more_than_5_hours:.2f}")
print(f"Average exam score for students studying 5 hours or less per day: {average_score_5_hours_or_less:.2f}")

# Compare the averages and print the conclusion
if average_score_more_than_5_hours > average_score_5_hours_or_less:
    print("Students who study more than 5 hours per day have higher exam scores on average.")
else:
    print("Students who study more than 5 hours per day do not have higher exam scores on average.")

Average exam score for students studying more than 5 hours per day: 91.12
Average exam score for students studying 5 hours or less per day: 65.67
Students who study more than 5 hours per day have higher exam scores on average.